@font-face {
  font-family: "iconfont"; /* Project id 2938739 */
  src: url('iconfont.woff2?t=1639210625512') format('woff2'),
       url('iconfont.woff?t=1639210625512') format('woff'),
       url('iconfont.ttf?t=1639210625512') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhifubaozhifu:before {
  content: "\e655";
}

.icon-c:before {
  content: "\e6c2";
}

.icon-wendang:before {
  content: "\e604";
}

.icon-youxiang:before {
  content: "\e639";
}

.icon-zhibo:before {
  content: "\e74f";
}

.icon-cloud:before {
  content: "\e988";
}

.icon-peizhiguanli:before {
  content: "\e63f";
}

.icon-gonggao:before {
  content: "\e633";
}

.icon-xiajiantou:before {
  content: "\e62d";
}

.icon-shizhongclock74:before {
  content: "\e972";
}

.icon-aite:before {
  content: "\e60b";
}

.icon-wenjian:before {
  content: "\e664";
}

.icon-rili:before {
  content: "\e602";
}

.icon-xingxing:before {
  content: "\e646";
}

.icon-shandian:before {
  content: "\e8b6";
}

.icon-hongbao:before {
  content: "\e603";
}

.icon-daiban:before {
  content: "\e6f6";
}

.icon-shipintonghua:before {
  content: "\e6fc";
}

.icon-24gf-bubble:before {
  content: "\e957";
}

.icon-chat:before {
  content: "\e66d";
}

.icon-31sousuo:before {
  content: "\e601";
}

.icon-tianjiahaoyou:before {
  content: "\e87f";
}

.icon-zengjiatianjiajiahao:before {
  content: "\e62c";
}

.icon-yonghu:before {
  content: "\e600";
}

.icon-qita:before {
  content: "\e618";
}

.icon-fuwutongji:before {
  content: "\e635";
}

.icon-haoyou:before {
  content: "\e7fe";
}

.icon-chuangjianfeihangluxian1:before {
  content: "\e622";
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-erweima:before {
  content: "\e642";
}

.icon-Vrenzheng:before {
  content: "\e669";
}

.icon-youjiantou:before {
  content: "\e631";
}

.icon-fanshe:before {
  content: "\ec50";
}

.icon-shezhichilun:before {
  content: "\e630";
}

.icon-xiangji:before {
  content: "\e8c7";
}

.icon-youxiyouxiji:before {
  content: "\e61e";
}

.icon-gouwudai:before {
  content: "\e73e";
}

.icon-wenjianjiazhankai:before {
  content: "\e654";
}

.icon-tongxunlu:before {
  content: "\e632";
}

.icon-aixin:before {
  content: "\e62a";
}

.icon-xiaoxi:before {
  content: "\e605";
}

.icon-faxian:before {
  content: "\e629";
}

.icon-wode:before {
  content: "\e62b";
}

.icon-zhihuixiaoyuan:before {
  content: "\e60a";
}

.icon-qianbao:before {
  content: "\e61a";
}

.icon-gongwenbao:before {
  content: "\e621";
}

.icon-visible-full:before {
  content: "\e9ae";
}

